<p-table [value]="products" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
  <ng-template pTemplate="caption">
    Header
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Category</th>
      <th>Quantity</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{product.code}}</td>
      <td>{{product.name}}</td>
      <td>{{product.category}}</td>
      <td>{{product.quantity}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    Footer
  </ng-template>
</p-table>
